@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  max-width: 100% !important;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #2C3333;
  color: #2C3333;
  font-weight:bolder;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: antiquewhite;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: antiquewhite;
}

.header {
  margin: 0rem;
  background-image: linear-gradient(white ,  rgba(255,0,0,0));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 5%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #2C3333;
  font-weight:bolder;
}

.header .logo i {
  color: #2C3333;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color:black;
  font-weight:bolder;
}

.header .navbar a:hover {
  color:black;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: antiquewhite;
  display: none;
  
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color:antiquewhite;
}

.header .icons a:hover,
.header .icons div:hover {
  color: antiquewhite;
}

.header #menu-btn {
  display: none;
}



.home {
  padding: 0;
}

.home .box {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  
 
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 9%;
}


.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}





