body {
  text-align: center;
  min-height: 93vh;
  
  max-width:100%;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* You just need to get this field - start */
.about{
  max-width: 100%;
  padding-inline: 0;
  margin: auto;
}

.search-box {
  width: 70%;
  margin: auto;
padding: 0;
}


.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #2C3333;
  -moz-box-shadow: 0 1px 12px #2C3333;
  -webkit-box-shadow: 0 1px 12px #2C3333;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}
.search-button{
  border-radius: 5px;
  position: relative;
  right: -5px;
  top:-5px;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}

/* You just need to get this field - end */

.footer {
  position:fixed;
  bottom:5px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  color:#000;
}

.footer a {
  color: #fff;
  transition: all .4s;
}

.footer a:hover {
  color: #eaeaeb;
}